<div class="container d-flex bg-light align-items-center justify-content-center" id="verificador">
    <div class="alert alert-warning text-center">
        <i class="fas fa-exclamation-triangle fa-3x mb-3"></i>
        <br />
        <strong class="mb-3">Importante!</strong> 
        <br /><br />
        Para finalizar sua compra, é preciso verificar seu email:
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Digite seu email de cadastro em nossa loja:</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="meu_email@mail.com">
                <small id="emailHelp" class="form-text text-muted">** Nunca compartilhe este email com ninguém.</small>
            </div>
            <button type="submit" class="btn btn-primary">Enviar email para verificação</button>
            <a href="/" class="btn btn-success btn-md border border-dark ml-4">
                Voltar para a Home
            </a>
        </form>
    </div>
</div>

<div class="row">
       
    </div>
