<!-- mensagem padrão de erro na rota -->
    <div class="row mt-5">
        <div class="col-md-12 d-flex justify-content-center align-items-center">
            <div class="error-template">
                <h1>Oops!</h1>
                <h2 class="mt-5">404 página não encontrada</h2>
                <div class="error-details">
                     Ocorreu um erro, tente navegar apenas pelos botões do site!
                </div>
                <div class="error-actions mt-5">
                    <a routerLink="" class="btn btn-dark btn-lg"><span class="glyphicon glyphicon-home"></span>Ir para a home</a>
                </div>
            </div>
        </div>
    </div>
