<div class="row d-flex w-100 h-100 pt-0" id="book-return">
    <div class="col-4" *ngFor="let sidelink of sidelinks | async">
        <div class="card" style="height: 450px !important;">
            <img src="https://baldochi.unifei.edu.br/COM222/trabfinal/imagens/0131428985.01.MZZZZZZZ.jpg"
                class="card-img pt-3" alt="..." style="max-height: 130px; max-width: 140px; align-self: center;">
            <div class="card-body">
                <h5 class="card-title" style="max-height: 80px;">AAAAAAAAAAAAA...</h5>
                <p class="card-text pt-4" style="max-height: 180px; font-size:13px">
                    AAAAAAAAAAAAA
                </p>
                <a href="/" class="btn btn-primary" style="max-height: 50px;">AAAAAAAAAAAAA</a>
            </div>
        </div>
    </div>
</div>